<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
     <th>
       Name
     </th>
     <th>
       Notes
     </th>
     <th>
      complete
      </th>
  </tr>
</thread>
<tbody>



  <% @tasks.each do |task| %>
  <tr>
  <td><%= task.name %></td>
  <td><%= task.notes %></td>
  <td><%= task.complete %></td>
  <td><%= link_to 'Edit', edit_list_path(task) %></td>

  </tr>
<% end %>

<%= link_to 'Back', lists_path %>
