<p id="notice"><%= notice %></p>

<h1>Listing Tasks </h1>


<table>
  <thead>
    <tr>
      <th>List      </th>
      <th>Name      </th>
      <th>Complete  </th>
      <th>Notes     </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><b><%= task.list.nil? ? 'Not assigned to any list' : task.list.name  %></b></td>
        <td><%= task.name %>      </td>
        <td><%= task.complete %>  </td>
        <td><%= task.notes %>     </td>
        <td><%= link_to 'Add Due Date', "/tasks/duedate_form?task_id=#{task.id}" %>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
